#mobile-outline {
   outline: 20px solid #333;
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
} 

#main-header {
background-color: #333;
}

#main-footer {
   background-color: #cacaca;
}

/* Main Nav */

#main-nav {
   font-size: 15px;
   text-align: center;
   padding: 10px;
   margin: 0;
   border: 0;
}

#main-nav ul {
   display: flex;
   justify-content: space-between;
   padding: 0;
   list-style: none;
}

#main-nav li a {
   color: white;
   text-decoration: none;
}

#main-nav li a:hover {
   color:rgb(228, 61, 39);
}


/* logo */

#main-logo {
   margin-top: 30px;
   padding: 0;
   margin-bottom: 50px;
   display: flex;
   justify-content:center;
}



/* Main Hero Image */

#main-hero {
   margin-top: 50px;
   display: flex;
   justify-content: center;
   background-color: #fff;
}

#main-hero img {
   border: solid 2px #333;
}

/* Products */

#products {
   margin-top: 40px;
   display: flex;
   justify-content: center;
   padding: 0;
   border: 0;
}

#product1 {
   padding: 0;
   margin: 0;
   border: 0;
}

#product2 {
   padding: 0;
   margin: 0;
   border: 0;
}

/* Portrait */

#gerry-smith-portrait {
   margin-top: 40px;
   margin-bottom: 30px;
   display: flex;
   justify-content: left;
   padding: 0;
   border: 0;
}

#bio {
   margin-top: 40px;
   margin-bottom: 30px;
   margin-left: 30px;
   background-color: #333;
   color: #fff;
}

#bio h3 {
   font-size: 15px;
}

#bio p {
   margin-top: 10px;
   font-size: 10px;
}

/* Footer */

#footer-nav {
   font-size: 15px;
   text-align: center;
   padding: 10px;
   margin-top: 10px;
   margin-right: 0;
   margin-left: 0;
}

#footer-nav ul {
   display: flex;
   justify-content: space-between;
   padding: 0;
   list-style: none;
}

#footer-nav li a {
   color: black;
   text-decoration: none;
}

#footer-nav li a:hover {
   color:rgb(228, 61, 39);
}