#mobile-outline {
   outline: 20px solid #333;
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
} 

/* Main Nav */

#main-nav {
   font-size: 20px;
   text-align: center;
   padding: 10px;
   margin: 0px;
   background-color: #fff;
}

#main-nav ul {
   display: flex;
   justify-content: space-between;
   padding: 0;
   list-style: none;
}

#main-nav li a {
   color: black;
   text-decoration: none;
}


/* logo */

#main-logo {
   margin-top: 50px;
   padding: 0;
   margin-bottom: 50px;
}

#main-nav img {
   display: flex;
   justify-content:center;
   padding: 0;
}